.categorywrapper{
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
  &__main{
    width: 70%;
    margin: 0 auto;
    padding: 50px 0 50px 0;
    
    h1{
      font-size: 1.3em;
      font-weight: bold;
      margin-bottom: 10px;
    }
    .categorys{
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;

      
      &__content{
        background-color: white;
        border-radius: 15px;
        margin-right: 10px;
        margin-bottom: 10px;
        height: 25px;
        padding:10px 30px;
        box-shadow: 1px 1px 1px rgba(14,14,14,0.0580392);
        &:hover {
          background-color: #3BCACE;
          color: white;
        }
      }
    }
    
    
    .boxs{
    
      .box{
        border-radius: 30px;
        margin-top: 20px;
        .parent{
          background-color: #3BCACE;
          padding: 10px 30px;
          font-size: 1.5em;
          font-weight: bold;
          color: white;
          margin-top: 20px;
          &__child{
            color: black;
            background-color: white;
            padding:20px 20px;
            font-weight: bold;
            

            &__grandchild{
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              padding: 10px;
              &__cont{
                width: 50%;
                display: block;
                .link{
                  text-decoration: none;
                  color: #43B2EE;
                  margin-top: 10px;
                  display: block;
                  font-size: 0.8em;

                }
          
              }
            }

        }
      }

    }
  }
  }
}
