.mypage
  .mypage__wrraper
    = render partial: 'side'
    .main
      .main__top
        = image_tag asset_path('logo/logo.png'), class: 'main__top__image'
        .main__top__name
          %span 
            =current_user.nickname
      .main-title
        %h3 お気に入り一覧