.notification {
  .notice {
    background-color: #2BCCD1;
    color: white;
    text-align: center;
    font-size: 30px;
    
  }

  .alert {
    background-color: #2BCCD1;
    color: white;
    text-align: center;
  }
}