.bread
  %nav.bread__crumbs
    %ul.bread__crumbs__ul
      - case params.values_at :controller, :action
      - when ['products', 'category']
        - breadcrumb :category
      - when ['products', 'categoryindex']
        - breadcrumb :category3
      = breadcrumbs separator: " &nbsp;&nbsp;&#12297;&nbsp; "