.purchase-confirmation-page
  .header
    = link_to image_tag asset_path('logo/logo-white.png'), class: 'header__logo'
  .main 
    .main__contents
      .main__contents__head
        %p 購入内容の確認
      .main__contents__item-info
        .main__contents__item-info__image
          = image_tag asset_path('icon/icon_brand.png'), size: "80x80", class: 'main__item__image__small-image'
        .main__contents__item-info__detail
          .name
            %p 黒い子供用の靴
          .price
            %p ¥22,000（税込） 送料込み
      .payment-amount
        .payment-amount__top
          .payment-amount__top__text
            %p 支払い金額
          .payment-amount__top__price
            %p ¥700

        .payment-amount__point-text
          %p ポイントを使用 (所持ポイント: P0)

      .payment-method
        .payment-method__top
          .payment-method__top__left
            %p 支払い方法
          .payment-method__top__right
            %p 変更する
        .card-infomation
          %p クレジットカード
          .number
            %p ************1234
          .date
            %p 有効期限 01 / 23
          .icon
            -# FontAwsome
      .shipping-adress
        .shipping-adress__top
          .shipping-adress__top__left
            %p 配送先
          .shipping-adress__top__right
            %p 変更する
        .postal-code
          %p 〒000-0000
        .adress
          %p 大阪府大阪市中央区中央３−３−３スーパーマンション５０５
        .name
          %p 山田太郎

      .bottom-content
        .attention-text
          %p 郵便局/コンビニ受取をご希望の方は、購入後、取引画面から受取場所変更をすることが可能です。出品者が発送作業を開始した後には受取場所変更ができませんので、早めに受取場所の変更を行ってください。
        .purchase-btn
          %p 購入する
  
  .footer