=render partial: 'top_header'
.categorywrapper
  .categorywrapper__main
    %h1　カテゴー一覧
    .categorys
      -@parents.each_with_index do |parent,id|
        .categorys__content
          
          = link_to "#{parent.name}","#",class: "categorys__content__",id:"send_to_#{id}"
    .boxs
      -@parents.each_with_index do |parent,id|
        =render partial: 'category', locals: {parent: parent,id: id}


=render partial: 'top_footer'