=render partial: 'top_header'
.categorywrapper
  .categorywrapper__main
    %h1　カテゴー一覧
    .categorys
      -@parents.each_with_index do |parent,id|
        .categorys__content
          - id
          =parent.name
    .boxs
      -@parents.each_with_index do |parent,id|
        =render partial: 'category', locals: {parent: parent,id: id}


=render partial: 'top_footer'