.show-contents 
  .item
    .item__contents
      .item__contents__name
        商品名
      .content
        .content__left
          .photo-main
          .photo-list
            .photo-one
            .photo-two
            .photo-three
        .content__table
          %table
            %tr
              %th 出品者
              %td 
                %a{href: "#"}aaa
            %tr
              %th カテゴリー
              %td 
                %a{href: "#"}レディース
            %tr
              %th ブランド
              %td　
            %tr
              %th 商品状態
              %td 新品
            %tr
              %th 配送料負担
              %td 送料込み
            %tr
              %th 配送方法
              %td 普通郵便
            %tr
              %th 配送元の地域
              %td 東京都
            %tr
              %th 配送日の目安
              %td ４〜７日
        .price 
          %span.price__letter
            ¥3,200
          %span.price__tax
            (税込)
          %span.price__shipping
            送料込み
        .buy-btn
          %a{href: "#"}購入画面に進む
        .item-explain
          %p.item-explain__inner
            %h2新品の頂き物です
            %h2中と外に黒いミニポーチが1つずつあります
        .item-btn
          .item-btn__left
            %a{href: "#"}♡いいね！ 
          .item-btn__right
            %a{href: "#",}不適切な商品の報告
    .comments
      .comments__area
        .comments__area__text
          .message-form
            %p相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
            = form_with(model: @post, local: true) do |form|
              = form.text_area :message, class: "message-text"
            .message-submit
              %a{href: "#"}コメントする
    %ul.nav-item
      %li.nav-item__prev
        %a{href: "#"}前のページ
      %li.nav-item__next
        %a{href: "#"}次のページ
    .icon-box
      %ul.icon-box__list
        %li.list-one
          %a{href: "#"}♡
        %li.list-two
          %a{href: "#"}♦︎
        %li.list-three
          %a{href: "#"}☆
    .user-profile
      .user-contents
        %h2.user-contents__head
          %a{href: "#"}ベビーキッズをもっと見る
        .user-contents__item
          .item-box
            .item-box__